<h2>Add new Taxon</h2>
{{ form_start(form, {'method': 'POST','action': path('mm_taxa_add_create')}) }}
<ul class="formelements">
    <li>{{ form_row(form.canonicalName,{'label':'Canonical name', 'attr': {'placeholder': 'e.g. Delphinus capensis'} }) }}</li>
    <li>{{ form_row(form.scientificNameAuthorship,{'label':'Authorship', 'attr': {'placeholder': 'e.g. Gray, 1828'} }) }}</li>
    <li>{{ form_row(form.vernacularNameEn,{'label':'Vernacular name', 'attr': {'placeholder': 'e.g. long-beaked common dolphin'} }) }}</li>
    <li>{{ form_row(form.taxonrank, {'label':'Taxon rank', 'attr': {'placeholder': 'e.g. species'} }) }}</li>
    <li>{{ form_row(form.idodId, {'label':'IDOD id', 'attr': {'placeholder': 'verify in IDOD, add there if needed'} }) }}</li>
</ul>
<p>
    <input type="submit" value="Submit">
</p>
{{ form_end(form) }}

{#<form action="{{ path('mm_taxa_add_create')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>#}
