{{ form_start(form, {'method': 'POST','action': path('mm_observations_add_create')}) }}
<div class="subform">
    <h2>Observation</h2>
    <ul class="formelements" id="observation_elements">
        <li>
            <h3>Date and time</h3>
            <ul>
                <li>
                    {{ form_row(form.eseSeqno.eventDatetime, {'label':'Date', 'attr': {'placeholder': 'dd/mm/yyyy'} }) }}
                    {{ form_row(form.eseSeqno.eventDatetimeFlag, {'label':'Date flag'}) }}</li>
            </ul>
        </li>
        <li>
            <h3>Location</h3>
            <ul>
                <li><h4>Exact Coordinates</h4>
                <ul><li>{{ form_row(form.latDeg, {'label':'Decimal latitude', 'attr': {'placeholder': 'eg. 51.224723'} }) }}
                    {{ form_row(form.lonDeg, {'label':'Decimal longitude', 'attr': {'placeholder': 'eg. 2.9254719'} }) }}
                    {{ form_row(form.precisionFlag, {'label':'Location precision'}) }}</li></ul>
                <li>
                    <h4>Station</h4>
                    <ul>
                        <li>{{ form_row(form.stnSeqno, {'label':'Station'}) }}</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <h3>Observation type</h3>
            <ul>
                <li>{{ form_row(form.isconfidential, {'label':'Confidential observation?'}) }}</li>
                <li>{{ form_row(form.osnType, {'label':'Observation type'}) }}
                    {{ form_row(form.samplingeffort, {'label':'Effort Related Survey?'}) }}
                </li>
            </ul>
        </li>
        <li>
            <h3>Observation conditions</h3>
            {% for ov in form.observationValues %}
                <h4>{{ ov.vars.value.pmdName }}</h4>
                {{ form_row(ov.value, {'label':'Value'}) }}
                {{ form_row(ov.valueFlag, {'label':'Value flag'}) }}
            {% endfor %}
        </li>
        <li>
            <h3>Observation comments</h3>
            <ul>
                <li>
                    {{ form_row(form.eseSeqno.description, {'label':'Observation description'}) }}</li>

                <li>
                    {{ form_row(form.webcommentsEn, {'label':'Event web comments: English'}) }}
                    {{ form_row(form.webcommentsNl, {'label':'Event web comments: Dutch'}) }}
                    {{ form_row(form.webcommentsFr, {'label':'Event web comments: French'}) }}
                </li>
            </ul>
        </li>
    </ul>
    <p>
        <input type="submit" value="Submit">
    </p>
</div>

{{ form_end(form) }}

