<legend>Observation</legend>

<h3>Date and time</h3>

<div class="form-inline">
    {{ form_row(form.eseSeqno.eventDatetime.date, {'label':'Date', 'attr': {'placeholder': 'dd/mm/yyyy'} }) }}
    {{ form_row(form.eseSeqno.eventDatetime.time, {'label':'Time', 'attr': {'placeholder': 'hh:mm'} }) }}
    {{ form_row(form.eseSeqno.eventDatetimeFlagRef, {'label':'Date flag'}) }}</div>
<h3>Location</h3>
<h4>Exact Coordinates</h4>
<div id="map-canvas" data-lat="51.224723"
     data-lon="2.9254719" data-type="rect" style="width:480px; height:480px;"></div>
<div class="form-inline">
    {{ form_row(form.latDec, {'label':'Decimal latitude', 'attr': {'placeholder': 'eg. 51.224723','class':'refer-to_observationstype_lonDec'} }) }}
    {{ form_row(form.lonDec, {'label':'Decimal longitude', 'attr': {'placeholder': 'eg. 2.9254719','class':'refer-to_observationstype_latDec'} }) }}
    {{ form_row(form.precisionFlag, {'label':'Location precision','attr': { 'class': 'observationstype_latDecFlag' }}) }}</div>
<h4>Location</h4>
<p class="text-info">Please always add a location, even if precise coordinates are known.</p>
<div class="form-inline">{{ form_row(form.stnSeqno, {'label':'Location'}) }}<a href="/mgmt/stations/add">Add new
        Location</a></div>
<h4>Platform</h4>
<div class="form-inline">{{ form_row(form.pfmSeqno, {'label':'Platform'}) }}<a href="/mgmt/platforms/add">Add new
        Platform</a></div>

<h4>Campaign</h4>
<div class="form-inline">{{ form_row(form.cpnCode, {'label':'Campaign'}) }}</div>
<h3>Observation type</h3>

<div class="form-inline">{{ form_row(form.isconfidential, {'label':'Confidential observation?'}) }}</div>
<div class="form-inline">{{ form_row(form.osnTypeRef, {'label':'Observation type'}) }}</div>
<div class="form-inline">{{ form_row(form.samplingeffortRef, {'label':'Sampling effort'}) }}</div>
<h3>Observation conditions</h3>
{% for ov in form.values %}
    <h4>{{ ov.vars.value.pmdName }}</h4>
    <div class="form-inline">{{ form_row(ov.value, {'label':'Value'}) }}
        {{ form_row(ov.valueFlagRef, {'label':'Value flag'}) }}</div>
{% endfor %}
<h3>Observation comments</h3>
{{ form_row(form.eseSeqno.description, {'label':'Observation description'}) }}
    {{ form_row(form.webcommentsEn, {'label':'Event web comments: English'}) }}
    {{ form_row(form.webcommentsNl, {'label':'Event web comments: Dutch'}) }}
    {{ form_row(form.webcommentsFr, {'label':'Event web comments: French'}) }}
