<h2>Add new place</h2>
{{ form_start(pform, {'method': 'POST','action': path('mm_stations_add_create')}) }}
<fieldset>
    <div class="form-inline">{{ form_row(pform.name,{'label':'Name'}) }}</div>
    <div class="form-inline">{{ form_row(pform.type,{'label':'Type'}) }}</div>
    <div class="form-inline">{{ form_row(pform.pceSeqno, {'label':'Place' }) }}</div>
</fieldset>
<p>
    <input type="submit" value="Submit">
</p>
{{ form_end(pform) }}

