<h2>Add new station</h2>
{{ form_start(sform, {'method': 'POST','action': path('mm_stations_add_create')}) }}
<fieldset>
    <div class="form-inline">{{ form_row(sform.code,{'label':'Code'}) }}</div>
    <div class="form-inline">{{ form_row(sform.areaType,{'label':'Area type'}) }}</div>
    <div class="form-inline">{{ form_row(sform.description, {'label':'Description'}) }}</div>
    <div class="form-inline">{{ form_row(sform.latDec, {'label':'Latitude'}) }}</div>
    <div class="form-inline">{{ form_row(sform.lonDec, {'label':'Longitude'}) }}</div>
    <div class="form-inline">{{ form_row(sform.pceSeqno, {'label':'place'}) }}</div>
</fieldset>
<p>
    <input type="submit" value="Submit">
</p>
{{ form_end(sform) }}