<legend>Specimen</legend>
<h3>Enter existing specimen</h3>
<div class="form-inline" id="existing-specimen">
    {{ form_row(form.eseSeqno.spec2event.scnSeqnoExisting, {'label':'Specimen id','attr':{'placeholder':'A valid specimen seqno'} }) }}
    <button id="b_search_scn">Search for existing specimen in list</button>
</div>
<div id="new-specimen">
    <h3>Add new specimen</h3>

    <div class="form-inline">
        {{ form_row(form.eseSeqno.spec2event.scnSeqnoNew.txnSeqno, {'label':'Species' }) }}
    </div>
    <div class="form-inline">
        {{ form_row(form.eseSeqno.spec2event.scnSeqnoNew.specieFlag, {'label':'Identification is certain?' }) }}
    </div>
    <div class="form-inline">
        {{ form_row(form.eseSeqno.spec2event.scnSeqnoNew.scnNumber, {'label':'Number' }) }}
    </div>
    <div class="form-inline no-multi">
        {{ form_row(form.eseSeqno.spec2event.scnSeqnoNew.sex, {'label':'Sex' }) }}
    </div>
    <div class="form-inline no-multi">
        {{ form_row(form.eseSeqno.spec2event.scnSeqnoNew.rbinsTag, {'label':'RBINS tag' }) }}
    </div>
    <div class="form-inline no-multi">
        {{ form_row(form.eseSeqno.spec2event.scnSeqnoNew.necropsyTag, {'label':'Necropsy tag' }) }}
    </div>
    <fieldset id="parameters" class="no-multi">
        <legend>Circumstantial parameters</legend>
        {% for sv in form.eseSeqno.spec2event.values|slice(0, 4) %}
            <h4>{{ sv.vars.value.pmdName }}</h4>
            <div class="form-inline">{{ form_row(sv.value, {'label':'Value'}) }}
                {{ form_row(sv.valueFlag, {'label':'Value flag'}) }}</div>
        {% endfor %}
        <h3>Measurements</h3>
        {% for sv in form.eseSeqno.spec2event.values|slice(4, 8) %}
            <h4>{{ sv.vars.value.pmdName }}</h4>

            <div class="form-inline">{{ form_row(sv.value, {'label':'Value'}) }}
                {{ form_row(sv.valueFlag, {'label':'Value flag'}) }}</div>
        {% endfor %}
    </fieldset>
</div>