<legend><h2>Specimen</h2></legend>
<fieldset id="existing-specimen">
    <legend><h3>Enter existing specimen</h3></legend>
    <div class="form-inline">
        {{ form_row(form.eseSeqno.spec2events.scnSeqnoExisting, {'label':'Specimen id','attr':{'placeholder':'A valid specimen seqno'} }) }}
        {% import "AppBundle::errors.html.twig" as forgotten %}
        {{ forgotten.errors('scnSeqnoNew[eseSeqno][spec2events][scnSeqnoExisting]',errors) }}
        {#<button id="b_search_scn">Search for existing specimen in list</button>#}
    </div>
</fieldset>
<fieldset id="new-specimen">
    <legend><h3>New specimen</h3></legend>

    <div class="form-inline">
        {{ form_row(form.eseSeqno.spec2events.scnSeqnoNew.txnSeqno, {'label':'Species' }) }}
    </div>
    <div class="form-inline">
        {{ form_row(form.eseSeqno.spec2events.scnSeqnoNew.identificationCertainty, {'label':'Identification is certain?' }) }}
    </div>
    <div class="form-inline">
        {{ form_row(form.eseSeqno.spec2events.scnSeqnoNew.scnNumber, {'label':'Number' }) }}
    </div>
    <div class="form-inline no-multi">
        {{ form_row(form.eseSeqno.spec2events.scnSeqnoNew.sex, {'label':'Sex' }) }}
    </div>
    <div class="form-inline no-multi">
        {{ form_row(form.eseSeqno.spec2events.scnSeqnoNew.rbinsTag, {'label':'RBINS tag' }) }}
    </div>
    <div class="form-inline no-multi">
        {{ form_row(form.eseSeqno.spec2events.scnSeqnoNew.necropsyTag, {'label':'Necropsy tag' }) }}
    </div>
</fieldset>
<fieldset id="circumstantial_values" class="no-multi">
    <legend><h4>Circumstantial parameters</h4></legend>
    {#{% if form.eseSeqno.spec2events.circumstantialValues|first.vars.data.valueRequired == false %}<p class="text-danger">Although the
        circumstantial parameters are not required to be completed when updating an existing observation, we would like
        you to provide this information nonetheless. The level of uncertainty can be expressed in the value
        flag.</p>{% endif %}#}
    {% for sv in form.eseSeqno.spec2events.circumstantialValues %}
        <h5>{{ sv.vars.value.pmdName }}</h5>
        <div class="form-inline">{{ form_row(sv.value, {'label':'Value'}) }}
            {{ form_row(sv.valueFlag, {'label':'Value flag'}) }}</div>
    {% endfor %}
</fieldset>
<fieldset id="measurement_values" class="no-multi">
    <legend><h4>Measurements</h4></legend>
    {% for sv in form.eseSeqno.spec2events.measurementValues %}
        <h5>{{ sv.vars.value.pmdName }}</h5>
        <div class="form-inline">{{ form_row(sv.value, {'label':'Value'}) }}
            {{ form_row(sv.valueFlag, {'label':'Value flag'}) }}</div>
    {% endfor %}
</fieldset>