{{ form_start(delete_form) }}
<div class="well">
    <input type="submit" value="Delete this observation" id="delete" class="btn btn-od">
    <div class="form-inline">{{ form_row(delete_form.keepSpecimen) }}
    <span data-tooltip="Select this to delete the observation but keep the specimen that was attached to it. Note that if the specimen has been observed before, the specimen will never be deleted (but the current observation will). NOTE the SEQNO of the specimen because there is no way to retrieve it anymore by date!! Only keep the specimen if you intend to reattach it to another observation!!" class="has-tooltip"></span></div>
</div>
{{ form_end(delete_form) }}

{{ form(delete_form) }}
{{ form_start(form, {'method': 'POST','action': path('mm_observations_update', {'id': id}),'attr':{'id':'observationform', 'novalidate':'false'}}) }}
<ul class="nav nav-tabs">
    <li class="tab"><a href="#tab-1" class="initially-disabled">Observation</a></li>
    <li class="tab"><a href="#tab-2" class="initially-disabled">Specimen</a></li>
    <li class="tab"><a href="#tab-3" class="initially-disabled">External examination</a></li>
    <li class="tab"><a href="#tab-4" class="initially-disabled">Cause of death</a></li>
    <li class="tab"><a href="#tab-5" class="initially-disabled">Sources and media</a></li>
</ul>
<div class="well subformcontainer">
    <p id="formerror" class="text-danger">
        {% if  success == 'false' %}
        Validation failed upon submission. Please correct all fields on all tabs. The following errors were encountered:
    </p>
    <ul>
        {% for field,msg in errors %}
            <li class="text-danger">{{ field }}: {{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if success == 'true' %}
        <p id="formsuccess" class="text-success">This observation has been successfully changed in the database.</p>
    {% endif %}
    <p class="text-info">Please complete all relevant fields. Required fields have an orange border.</p>

    <p id="multipleSpecimensFeedback" class="text-info">The fields Sex, RBINS tag, MUMM tag, Circumstantial parameters,
        Measurements, External examination values and Cause of Death cannot be completed when there are 2 or more individuals
        observed. They have been removed from the form.</p>

    <p id="existingSpecimenFeedback" class="text-info">The fields Species, Identification certainty, Sex, RBINS tag and
        MUMM tag cannot be completed when an existing specimen is completed. They have been removed from the form.</p>
    <fieldset id="tab-1">
        {{ include('AppBundle:Bare:add-observations.html.twig') }}
        <h4><a class="next-tab ctl initially-disabled" href="#">NEXT</a></h4>
    </fieldset>
    <fieldset id="tab-2">
        {{ include('AppBundle:Bare:add-specimens.html.twig') }}
        <h4><a class="prev-tab ctl initially-disabled" href="#">PREVIOUS</a></h4>
        <h4><a class="next-tab ctl initially-disabled" href="#">NEXT</a></h4>
    </fieldset>
    <fieldset id="tab-3">
        {{ include('AppBundle:Bare:add-externalpathology.html.twig') }}
        <h4><a class="prev-tab ctl initially-disabled" href="#">PREVIOUS </a></h4>
        <h4><a class="next-tab ctl initially-disabled" href="#">NEXT</a></h4>
    </fieldset>
    <fieldset id="tab-4">
        {{ include('AppBundle:Bare:add-causeofdeath.html.twig') }}
        <h4><a class="prev-tab ctl initially-disabled" href="#">PREVIOUS </a></h4>
        <h4><a class="next-tab ctl initially-disabled" href="#">NEXT</a></h4>
    </fieldset>
    <fieldset id="tab-5">
        {{ include('AppBundle:Bare:add-sources-media.html.twig') }}
        <h4><a class="prev-tab ctl initially-disabled" href="#">PREVIOUS</a></h4>
        <p>
            <input type="submit" value="Submit" id="submit" class="btn btn-od">
        </p>
    </fieldset>
</div>
{{ form_end(form) }}

