{{ form_start(filter_form, {'method': 'GET','action': path('mm_necropsies_mgmtfilter'),'attr':{'id':'necropsyfilterform', 'novalidate':'true'}}) }}
<div class="well">
    <fieldset>
        <legend>Search necropsies</legend>
        <div class="form-inline">

            <h4>Date</h4>

            <div id="periodpicker"
                 name="periodpicker">{{ form_row(filter_form.eventDatetimeStart, {'label':'Date start', 'attr': {'placeholder': 'dd/mm/yyyy'} }) }}{{ form_row(filter_form.eventDatetimeStop, {'label':'Date end', 'attr': {'placeholder': 'dd/mm/yyyy'} }) }}</div>
            <h4>Location</h4>
            <div class="form-inline">{{ form_row(filter_form.stnSeqno, {'label':'Location'}) }}</div>

            <h4>Observation</h4>{{ form_row(filter_form.osnTypeRef, {'label':'Observation type'}) }}
            <h4>Species</h4>{{ form_row(filter_form.txnSeqno, {'label':'Species'}) }}
            <h4>Reference</h4>
            <div class="form-inline">{{ form_row(filter_form.refAut, {'label':'Autopsy reference'}) }}
                {{ form_row(filter_form.refLabo, {'label':'Lab reference'}) }}
            </div>
            <h4>Organ & lesion</h4>

            <div class="form-inline">{{ form_row(filter_form.processus, {'label':'Processus'}) }}
                {{ form_row(filter_form.ognCode, {'label':'Organ'}) }}
            </div>
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Search" id="btnFilterSamplesSubmit" name="btnFilterSamplesSubmit" class="btn btn-od">
    </p>
</div>
{{ form_end(filter_form) }}



