{{ form_start(form, {'method': 'GET',method: path(include_path),'attr':{'id':'observationfilterform', 'novalidate':'true'}}) }}
<div class="well">
    <fieldset>
        <legend>Search observations</legend>
        <div class="form-inline">
            <h4>Date</h4>

            <div id="periodpicker"
                 name="periodpicker">{{ form_row(form.eventDatetimeStart, {'label':'Date start', 'attr': {'placeholder': 'dd/mm/yyyy'} }) }}{{ form_row(form.eventDatetimeStop, {'label':'Date end', 'attr': {'placeholder': 'dd/mm/yyyy'} }) }}</div>
            <h4>Location</h4>
            <div class="form-inline">{{ form_row(form.stationstype, {'label':'Location type'}) }}</div>
            <div class="form-inline">{{ form_row(form.generalPlace, {'label':'General place'}) }}</div>
            <div class="form-inline">{{ form_row(form.place, {'label':'Place'}) }}</div>
            <div class="form-inline">{{ form_row(form.stnSeqno, {'label':'Location'}) }}</div>
            <h4>Observation</h4>{{ form_row(form.osnTypeRef, {'label':'Observation type'}) }}
            <h4>Species</h4>{{ form_row(form.txnSeqno, {'label':'Species'}) }}
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Search" id="submit" name="submit" class="btn btn-od">
    </p>
    <p>
        <input type="submit" value="Download result" id="export" name="export" class="btn btn-od">
    </p>
</div>
{{ form_end(form) }}



