{{ form_start(form, {'method': 'GET','action': path('mm_observations_filter'),'attr':{'id':'observationfilterform', 'novalidate':'true'}}) }}
EXPERIMENTAL PAGE
<div class="well">
    <fieldset>
        {{ include('AppBundle:Bare:filter-observations.html.twig') }}
    </fieldset>
    <p>
        <input type="submit" value="Submit" id="submit" class="btn btn-od">
    </p>
</div>
{{ form_end(form) }}
<div id="map"></div>
<h2>List of observations</h2>
<p class="count">
    {#{{ entities.getTotalItemCount }} observations matched your search.#}
</p>
<table id="observationstable" class="table table-striped">
    <thead>
    <tr>
        <th>Country</th>
        <th>Station</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Date and time</th>
        <th>Species</th>
        <th>Edit</th>
        {#<th>Is alive</th>#}
    </tr>
    </thead>
    {% for e in entities %}
        <tr>
            {#<td>{{e.eseSeqno.spec2events.scnSeqno.AliveNow}}</td>#}
            <td>{% if e.stnSeqno is not null%}{{e.stnSeqno.country}}{% endif%}</td>
            <td>    {% if e.eseSeqno.observation.stnSeqno is defined and e.eseSeqno.observation.stnSeqno is not null %}{{ e.eseSeqno.observation.stnSeqno.fullyQualifiedName }} {% endif %}</td>
            <td>{{ e.eseSeqno.observation.latDec }}</td>
            <td>{{ e.eseSeqno.observation.lonDec }}</td>
            <td>{{ e.eseSeqno.eventDatetime|date("d/m/Y") }}</td>
            <td>{{ e.eseSeqno.spec2events.scnSeqno.txnSeqno.canonicalName }}</td>
            <td><a href="{{ path('mm_observations_edit', {'id': e.eseSeqno.seqno}) }}">EDIT OBSERVATION</a></td>
        </tr>
    {% else %}
        <tr>
            <td>No observations found.</td>
        </tr>
    {% endfor %}
</table>
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>