{{ include('AppBundle:Bare:filter-observations.html.twig') }}
<div id="map"></div>
<h2>List of Belgian strandings and observations</h2>
<p class="count">
    The above criteria match {{ entities.getTotalItemCount }} observations.
</p>
{{ knp_pagination_render(entities) }}
<table id="observationstable" class="table table-striped">
    <thead>
    <tr>
        <th>Location type</th>
        <th>Place</th>
        <th>Location description</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Date</th>
        <th>Observation type</th>
        <th>Species</th>
        <th></th>
    </tr>
    </thead>
    {% for e in entities %}
        <tr>
            <td>{% if e.st_seqno is not null %}{{ e.st_areaType }} {% endif %}</td>
            <td>{% if e.p1_seqno is not null %}{{ e.p1_name }} {% endif %}</td>
            <td>{% if e.st_seqno is not null %}{{ e.st_description }} {% endif %}</td>
            <td>{{ e.o_latDec }}</td>
            <td>{{ e.o_lonDec }}</td>
            <td>{{ e.e_eventDatetime|date("d/m/Y") }}</td>
            <td>{{ e.cg1_rvMeaning }}</td>
            <td>{% if e.t_seqno is not null %}
                    <i>{{ e.t_canonicalName }}</i> ({{ e.t_vernacularNameEn }}){% endif %}
            </td>
            <td>
                <a href="
                {% if app.user and is_granted('ROLE_ADMIN') %}
                        {{ path('mm_observations_mgmtview', {'id': e.e_seqno}) }}
                {% else %}
                        {{ path('mm_observations_view', {'id': e.e_seqno}) }}
                {% endif %}">
                    VIEW OBSERVATION</a></td>
        </tr>
    {% else %}
        <tr>
            <td>No observations found.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
</table>
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>