<h2>List of samples</h2>
<p class="count">
    The above criteria match  {{ paginator.getItemscount}} samples.
</p>
<div class="pagination_head">
    {{ paginator_html|raw }}
</div>

<table class="table table-striped table-samples" style="width:750px;">
    <thead>
    <tr>
        <th>species</th>
        <th>organ</th>
        <th>conservation mode</th>
        <th>intended use</th>
        <th>date found</th>
        <th>date necropsied</th>
        <th>select</th>
    </tr>
    </thead>
    {% for s in samples %}
        <tr>
            <td>{{ s.txn_vernacularNameEn }} (<i>{{ s.txn_canonicalName }}</i>)</td>
            <td>{{ s.ogn_name }}</td>
            <td>{{ s.s_conservationMode }}</td>
            <td>{{ s.s_analyzeDest }}</td>
            <td>{{ s.date_found|date("d/m/Y") }}</td>
            <td>{{ s.ese_eventDatetime|date("d/m/Y") }}</td>
            <td><label for=select_{{ s.s_seqno }}"></label><input type="checkbox" data-seqno="{{ s.s_seqno }}" id="select_{{ s.s_seqno }}" name="select_{{ s.s_seqno }}" class="select-sample"></td>
        </tr>
    {% else %}
        <tr>
            <td>No samples found.</td>
        </tr>
    {% endfor %}
</table>
<div class="pagination_foot">
    {{ paginator_html|raw }}
</div>