    <h2>List of observations</h2>
    <table>
        <thead>
        <tr>
            <th>country</th>
            <th>station</th>
            <th>it</th>
            <th>latitude</th>
            <th>longitude</th>
            <th>date and time</th>
            <th>specimen seqno</th>
        </tr>
        </thead>
        {% for o in observations %}
            <tr>
                <td>{% if o.stnSeqno is not null%}{{o.stnSeqno.country}}{% endif%}</td>
                <td>{% if o.stnSeqno is not null%}{{o.stnSeqno.fullyQualifiedName}}{% endif%}</td>
                <td>{% if o.stnSeqno is not null and o.stnSeqno.pceSeqno is not null%}{{o.stnSeqno.pceSeqno.iterationstring}}{% endif%}</td>
                <td>{{o.latDec}}</td>
                <td>{{o.lonDec}}</td>
                <td>{{o.eseSeqno.eventDatetime|date("m/d/Y")}}</td>
                <td>{{o.eseSeqno.spec2events.scnSeqno.txnSeqno.canonicalName}}</td>
            </tr>
        {% else %}
            <tr>
                <td>No observations found.</td>
            </tr>
        {% endfor %}
    </table>