    <h2>List of observations</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>station</th>
            <th>latitude</th>
            <th>longitude</th>
            <th>date and time</th>
            <th>species</th>
            <th>specimen seqno</th>
            <th>edit</th>
        </tr>
        </thead>
        {% for o in observations %}
            <tr>
                {#<td>{% if o.stnSeqno is not null%}{{o.stnSeqno.country}}{% endif%}</td>#}
                <td>{% if o.stnSeqno is not null%}{{o.stnSeqno.fullyQualifiedName}}{% endif%}</td>
                <td>{{o.latDec}}</td>
                <td>{{o.lonDec}}</td>
                <td>{{o.eseSeqno.eventDatetime|date("m/d/Y")}}</td>
                <td>{{o.eseSeqno.spec2events.scnSeqno.txnSeqno.canonicalName}}</td>
                <td>{{o.eseSeqno.seqno}}</td>
                <td><a href="{{ path('mm_observations_edit', {'id': o.eseSeqno.seqno}) }}">EDIT</a></td>
            </tr>
        {% else %}
            <tr>
                <td>No observations found.</td>
            </tr>
        {% endfor %}
    </table>