{% include 'AppBundle:Bare:mgmt-filter-observations.html.twig' with {'include_path': 'mm_observed_specimens_mgmtfilter', 'method': 'GET','popup':false} %}
<div id="map"></div>
<h2>List of observations</h2>
<p class="count">
    The above criteria match {{ entities.getTotalItemCount }} observations.
</p>
<div class="pagination_head">
{{ knp_pagination_render(entities) }}
    </div>
<table id="observationstable" class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Country</th>
        <th>Location type</th>
        <th>Place</th>
        <th>Location description</th>
        <th>Lat</th>
        <th>Long</th>
        <th>Date</th>
        <th>Observation type</th>
        <th>Species</th>
        <th>id</th>
        <th>Specimen id</th>
        <th>Edit</th>
    </tr>
    </thead>
    {% for e in entities %}
        <tr>
            <td>{% if e.isconfidential %}<span class="has-confidentiality" title="confidential"></span>{% endif %}</td>
            <td>{% if e.stnSeqno is defined and e.stnSeqno is not null %}{{ e.stnSeqno.country }}{% endif %}</td>
            <td>{% if e.stnSeqno is defined and e.stnSeqno is not null %}{{ e.stnSeqno.areaType }} {% endif %}</td>
            <td>{% if e.stnSeqno is defined and e.stnSeqno is not null %}{{ e.stnSeqno.placeName }} {% endif %}</td>
            <td>{% if e.stnSeqno is defined and e.stnSeqno is not null %}{{ e.stnSeqno.description }} {% endif %}</td>
            <td>{{ e.latDec }}</td>
            <td>{{ e.lonDec }}</td>
            <td>{{ e.eseSeqno.eventDatetime|date("d/m/Y") }}</td>
            <td>{{ e.osnTypeRef.rvMeaning }}</td>
            <td>{% if e.eseSeqno.spec2events is defined and e.eseSeqno.spec2events is not null and e.eseSeqno.spec2events.scnSeqno is defined and e.eseSeqno.spec2events.scnSeqno is not null and e.eseSeqno.spec2events.scnSeqno.txnSeqno is defined and e.eseSeqno.spec2events.scnSeqno.txnSeqno is not null%}<i>{{ e.eseSeqno.spec2events.scnSeqno.txnSeqno.canonicalName}}</i> ({{e.eseSeqno.spec2events.scnSeqno.txnSeqno.vernacularNameEn }}){% endif %}</td>
            <td>{{ e.eseSeqno.seqno }}</td>
            <td>{% if e.eseSeqno.spec2events is defined and e.eseSeqno.spec2events is not null and e.eseSeqno.spec2events.scnSeqno is defined and e.eseSeqno.spec2events.scnSeqno is not null%}{{ e.eseSeqno.spec2events.scnSeqno.seqno }}{% endif %}</td>
            <td><a href="{{ path('mm_observations_edit', {'id': e.eseSeqno.seqno}) }}">EDIT OBSERVATION</a></td>
        </tr>
    {% else %}
        <tr>
            <td>No observations found.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
</table>
<div class="pagination_foot">
    {{ knp_pagination_render(entities) }}
</div>